*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins,sans-serif;
}

body{
  background:#0b0b0b;
  color:white;
  overflow-x:hidden;
}

/* CURSOR */
.cursor{
  width:8px;height:8px;
  background:#ffb703;
  position:fixed;
  border-radius:50%;
  pointer-events:none;
  z-index:999;
}
.cursor-ring{
  width:35px;height:35px;
  border:2px solid #ffb703;
  border-radius:50%;
  position:fixed;
  pointer-events:none;
  z-index:998;
}

/* NAV */
header{
  position:fixed;
  width:100%;
  top:0;
  display:flex;
  justify-content:space-between;
  padding:20px 60px;
  background:rgba(0,0,0,0.4);
  backdrop-filter:blur(10px);
  z-index:10;
}

nav a{
  margin-left:25px;
  color:white;
  text-decoration:none;
}

/* HERO */
.hero{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 120px;
}

.hero-left{
  max-width:520px;
}

.hero-left h1{
  font-size:52px;
}

.hero-left h1 span{
  color:#ffb703;
}

.hero-left h2{
  margin:10px 0;
  opacity:0.8;
}

.hero-left p{
  margin:20px 0;
  line-height:1.6;
  opacity:0.85;
}

.hero-actions{
  display:flex;
  gap:20px;
}

.btn{
  padding:12px 30px;
  background:#ffb703;
  color:black;
  border-radius:30px;
  text-decoration:none;
}

.outline{
  padding:12px 30px;
  border:2px solid #ffb703;
  border-radius:30px;
  color:#ffb703;
  text-decoration:none;
}

.hero-right{
  width:380px;
  height:380px;
  border-radius:60% 40% 30% 70%;
  overflow:hidden;
  background:rgba(255,255,255,0.1);
  backdrop-filter:blur(15px);
  box-shadow:0 40px 100px rgba(0,0,0,0.7);
}

.hero-right img{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* ABOUT */
.about{
  min-height:100vh;
  display:flex;
  align-items:center;
  padding:0 120px;
}

.about-wrap{
  display:flex;
  gap:80px;
  width:100%;
}

.about-left h2{
  font-size:48px;
}

.about-left h2 span{
  color:#ffb703;
}

.about-intro{
  margin:25px 0 40px;
  font-size:18px;
  line-height:1.7;
}

.point{
  display:flex;
  gap:20px;
  margin-bottom:25px;
}

.point span{
  color:#ffb703;
  font-weight:bold;
}

/* GLASS CARD */
.glass-card{
  padding:35px;
  border-radius:25px;
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(20px);
  box-shadow:0 30px 80px rgba(0,0,0,0.6);
}

.glass-card h3{
  margin-bottom:25px;
  color:#ffb703;
}

.glass-card ul{
  list-style:none;
}

.glass-card li{
  margin-bottom:15px;
}

.signature{
  margin-top:30px;
  text-align:right;
  opacity:0.7;
}

/* SKILLS */
.skills{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.orbs span{
  margin:15px;
  padding:20px 30px;
  border-radius:50%;
  background:#ffb703;
  color:black;
  animation:float 4s infinite ease-in-out;
}

@keyframes float{
  50%{transform:translateY(-20px)}
}

/* CONTACT */
.contact{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}


